.showing { display:none; }
#hiddenDiv {
    cursor: pointer;
    width: fit-content;
}

#hiddenDiv:hover {
    color: #0d2efd;
    text-shadow:0px 0px 30px #547bfd;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-decoration: underline;
}

.messageText {
    cursor: pointer;
}

text .actor {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
}