.showing { display:none; }

#hiddenDiv:hover {
    color: #0d2efd;
    text-shadow:0px 0px 30px #547bfd;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-decoration: underline;
}

.newMessageText {
    fill:blue;
    cursor: pointer;
}



