h3 {
    padding: 40px 40px 0px 45px;
    font-size: 15px;
}

.mermaid {
    padding: 20px;
}

span[class^="MuiButton-label"] {
    padding: 10px 30px 0px 30px;
}

.messageText {
    font-size: 13px;
}

text.actor {
    font-size: 15px;
}