h3 {
    padding: 40px 40px 0px 45px;
    font-size: 15px;
}

.mermaid {
    padding: 20px;
}

span.MuiButton-label-286 {
    padding: 20px 0px 0px 30px;
}

.messageText {
    font-size: 13px;
}

text.actor {
    font-size: 15px;
}